# This is a basic workflow that is manually triggered

name: Cpp Run workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
   build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        id: s1
        uses: actions/checkout@v2

      - name: Set up C++ environment
        run: sudo apt-get install g++

      - name: Build the project
        run: |
          mkdir build
          cd build
          g++ -g ../First.cpp -o First 

      - name: Run tests
        run: |
          echo ${{steps.s1.outputs.CHANGE_SET}}
          cd build
          sh ../util/grade.sh First
